protocol.h filter=lfs diff=lfs merge=lfs -text
tinyformat.h filter=lfs diff=lfs merge=lfs -text
addrman.h filter=lfs diff=lfs merge=lfs -text
bech32.h filter=lfs diff=lfs merge=lfs -text
crypter.cpp filter=lfs diff=lfs merge=lfs -text
denomination_functions.h filter=lfs diff=lfs merge=lfs -text
noui.cpp filter=lfs diff=lfs merge=lfs -text
pow.h filter=lfs diff=lfs merge=lfs -text
torcontrol.cpp filter=lfs diff=lfs merge=lfs -text
txdb.h filter=lfs diff=lfs merge=lfs -text
utilmoneystr.h filter=lfs diff=lfs merge=lfs -text
masternodeconfig.cpp filter=lfs diff=lfs merge=lfs -text
netaddress.h filter=lfs diff=lfs merge=lfs -text
pivxd-res.rc filter=lfs diff=lfs merge=lfs -text
threadinterrupt.h filter=lfs diff=lfs merge=lfs -text
utilstrencodings.cpp filter=lfs diff=lfs merge=lfs -text
addrman.cpp filter=lfs diff=lfs merge=lfs -text
bloom.cpp filter=lfs diff=lfs merge=lfs -text
chain.h filter=lfs diff=lfs merge=lfs -text
key_io.h filter=lfs diff=lfs merge=lfs -text
Makefile.crc32c.include filter=lfs diff=lfs merge=lfs -text
masternode-sync.cpp filter=lfs diff=lfs merge=lfs -text
logging.cpp filter=lfs diff=lfs merge=lfs -text
logging.h filter=lfs diff=lfs merge=lfs -text
reverse_iterate.h filter=lfs diff=lfs merge=lfs -text
swifttx.h filter=lfs diff=lfs merge=lfs -text
threadinterrupt.cpp filter=lfs diff=lfs merge=lfs -text
undo.h filter=lfs diff=lfs merge=lfs -text
sporkdb.cpp filter=lfs diff=lfs merge=lfs -text
uint256.h filter=lfs diff=lfs merge=lfs -text
activemasternode.cpp filter=lfs diff=lfs merge=lfs -text
coins.h filter=lfs diff=lfs merge=lfs -text
cuckoocache.h filter=lfs diff=lfs merge=lfs -text
masternode.cpp filter=lfs diff=lfs merge=lfs -text
messagesigner.h filter=lfs diff=lfs merge=lfs -text
scheduler.cpp filter=lfs diff=lfs merge=lfs -text
uint512.h filter=lfs diff=lfs merge=lfs -text
guiinterface.h filter=lfs diff=lfs merge=lfs -text
masternodeman.h filter=lfs diff=lfs merge=lfs -text
sporkdb.h filter=lfs diff=lfs merge=lfs -text
sync.h filter=lfs diff=lfs merge=lfs -text
addrdb.cpp filter=lfs diff=lfs merge=lfs -text
chainparams.cpp filter=lfs diff=lfs merge=lfs -text
Makefile.bench.include filter=lfs diff=lfs merge=lfs -text
masternodeman.cpp filter=lfs diff=lfs merge=lfs -text
noui.h filter=lfs diff=lfs merge=lfs -text
pubkey.cpp filter=lfs diff=lfs merge=lfs -text
blob_uint256.h filter=lfs diff=lfs merge=lfs -text
init.h filter=lfs diff=lfs merge=lfs -text
masternode.h filter=lfs diff=lfs merge=lfs -text
serialize.h filter=lfs diff=lfs merge=lfs -text
sporkid.h filter=lfs diff=lfs merge=lfs -text
util.cpp filter=lfs diff=lfs merge=lfs -text
masternode-sync.h filter=lfs diff=lfs merge=lfs -text
addrdb.h filter=lfs diff=lfs merge=lfs -text
blocksignature.h filter=lfs diff=lfs merge=lfs -text
checkqueue.h filter=lfs diff=lfs merge=lfs -text
guiinterfaceutil.h filter=lfs diff=lfs merge=lfs -text
Makefile.leveldb.include filter=lfs diff=lfs merge=lfs -text
Makefile.qttest.include filter=lfs diff=lfs merge=lfs -text
init.cpp filter=lfs diff=lfs merge=lfs -text
limitedmap.h filter=lfs diff=lfs merge=lfs -text
optional.h filter=lfs diff=lfs merge=lfs -text
pivx-cli.cpp filter=lfs diff=lfs merge=lfs -text
bip38.h filter=lfs diff=lfs merge=lfs -text
blob_uint256.cpp filter=lfs diff=lfs merge=lfs -text
clientversion.cpp filter=lfs diff=lfs merge=lfs -text
invalid_outpoints.json.h filter=lfs diff=lfs merge=lfs -text
key.cpp filter=lfs diff=lfs merge=lfs -text
memusage.h filter=lfs diff=lfs merge=lfs -text
reverselock.h filter=lfs diff=lfs merge=lfs -text
spork.h filter=lfs diff=lfs merge=lfs -text
txmempool.cpp filter=lfs diff=lfs merge=lfs -text
blocksignature.cpp filter=lfs diff=lfs merge=lfs -text
fs.cpp filter=lfs diff=lfs merge=lfs -text
fs.h filter=lfs diff=lfs merge=lfs -text
allocators.h filter=lfs diff=lfs merge=lfs -text
dbwrapper.cpp filter=lfs diff=lfs merge=lfs -text
net.h filter=lfs diff=lfs merge=lfs -text
timedata.h filter=lfs diff=lfs merge=lfs -text
validationinterface.cpp filter=lfs diff=lfs merge=lfs -text
arith_uint256.cpp filter=lfs diff=lfs merge=lfs -text
keystore.cpp filter=lfs diff=lfs merge=lfs -text
netmessagemaker.h filter=lfs diff=lfs merge=lfs -text
chain.cpp filter=lfs diff=lfs merge=lfs -text
compat.h filter=lfs diff=lfs merge=lfs -text
masternode-budget.cpp filter=lfs diff=lfs merge=lfs -text
utilmoneystr.cpp filter=lfs diff=lfs merge=lfs -text
main.cpp filter=lfs diff=lfs merge=lfs -text
masternode-payments.h filter=lfs diff=lfs merge=lfs -text
bloom.h filter=lfs diff=lfs merge=lfs -text
chainparamsseeds.h filter=lfs diff=lfs merge=lfs -text
checkpoints.cpp filter=lfs diff=lfs merge=lfs -text
checkpoints.h filter=lfs diff=lfs merge=lfs -text
core_read.cpp filter=lfs diff=lfs merge=lfs -text
invalid_serials.json.h filter=lfs diff=lfs merge=lfs -text
messagesigner.cpp filter=lfs diff=lfs merge=lfs -text
threadsafety.h filter=lfs diff=lfs merge=lfs -text
txmempool.h filter=lfs diff=lfs merge=lfs -text
httprpc.h filter=lfs diff=lfs merge=lfs -text
key.h filter=lfs diff=lfs merge=lfs -text
netaddress.cpp filter=lfs diff=lfs merge=lfs -text
random.h filter=lfs diff=lfs merge=lfs -text
scheduler.h filter=lfs diff=lfs merge=lfs -text
zpivchain.cpp filter=lfs diff=lfs merge=lfs -text
allocators.cpp filter=lfs diff=lfs merge=lfs -text
clientversion.h filter=lfs diff=lfs merge=lfs -text
httpserver.h filter=lfs diff=lfs merge=lfs -text
version.h filter=lfs diff=lfs merge=lfs -text
base58.cpp filter=lfs diff=lfs merge=lfs -text
keystore.h filter=lfs diff=lfs merge=lfs -text
Makefile.test.include filter=lfs diff=lfs merge=lfs -text
merkleblock.h filter=lfs diff=lfs merge=lfs -text
pow.cpp filter=lfs diff=lfs merge=lfs -text
uint256.cpp filter=lfs diff=lfs merge=lfs -text
torcontrol.h filter=lfs diff=lfs merge=lfs -text
zpivchain.h filter=lfs diff=lfs merge=lfs -text
arith_uint256.h filter=lfs diff=lfs merge=lfs -text
chainparamsbase.cpp filter=lfs diff=lfs merge=lfs -text
invalid.h filter=lfs diff=lfs merge=lfs -text
Makefile.qt_locale.include filter=lfs diff=lfs merge=lfs -text
masternode-budget.h filter=lfs diff=lfs merge=lfs -text
sync.cpp filter=lfs diff=lfs merge=lfs -text
pivxd.cpp filter=lfs diff=lfs merge=lfs -text
pubkey.h filter=lfs diff=lfs merge=lfs -text
addressbook.h filter=lfs diff=lfs merge=lfs -text
bech32.cpp filter=lfs diff=lfs merge=lfs -text
coincontrol.h filter=lfs diff=lfs merge=lfs -text
invalid.cpp filter=lfs diff=lfs merge=lfs -text
kernel.cpp filter=lfs diff=lfs merge=lfs -text
main.h filter=lfs diff=lfs merge=lfs -text
stakeinput.h filter=lfs diff=lfs merge=lfs -text
validationinterface.h filter=lfs diff=lfs merge=lfs -text
activemasternode.h filter=lfs diff=lfs merge=lfs -text
compressor.cpp filter=lfs diff=lfs merge=lfs -text
compressor.h filter=lfs diff=lfs merge=lfs -text
miner.h filter=lfs diff=lfs merge=lfs -text
pivx-cli-res.rc filter=lfs diff=lfs merge=lfs -text
utiltime.h filter=lfs diff=lfs merge=lfs -text
base58.h filter=lfs diff=lfs merge=lfs -text
crypter.h filter=lfs diff=lfs merge=lfs -text
dbwrapper.h filter=lfs diff=lfs merge=lfs -text
protocol.cpp filter=lfs diff=lfs merge=lfs -text
random.cpp filter=lfs diff=lfs merge=lfs -text
utiltime.cpp filter=lfs diff=lfs merge=lfs -text
chainparamsbase.h filter=lfs diff=lfs merge=lfs -text
streams.h filter=lfs diff=lfs merge=lfs -text
txdb.cpp filter=lfs diff=lfs merge=lfs -text
coins.cpp filter=lfs diff=lfs merge=lfs -text
Makefile.in filter=lfs diff=lfs merge=lfs -text
masternodeconfig.h filter=lfs diff=lfs merge=lfs -text
hash.h filter=lfs diff=lfs merge=lfs -text
key_io.cpp filter=lfs diff=lfs merge=lfs -text
chainparams.h filter=lfs diff=lfs merge=lfs -text
core_write.cpp filter=lfs diff=lfs merge=lfs -text
kernel.h filter=lfs diff=lfs merge=lfs -text
rest.cpp filter=lfs diff=lfs merge=lfs -text
Makefile.qt.include filter=lfs diff=lfs merge=lfs -text
miner.cpp filter=lfs diff=lfs merge=lfs -text
net.cpp filter=lfs diff=lfs merge=lfs -text
pivx-tx.cpp filter=lfs diff=lfs merge=lfs -text
stakeinput.cpp filter=lfs diff=lfs merge=lfs -text
swifttx.cpp filter=lfs diff=lfs merge=lfs -text
addressbook.cpp filter=lfs diff=lfs merge=lfs -text
hash.cpp filter=lfs diff=lfs merge=lfs -text
httpserver.cpp filter=lfs diff=lfs merge=lfs -text
netbase.h filter=lfs diff=lfs merge=lfs -text
prevector.h filter=lfs diff=lfs merge=lfs -text
spork.cpp filter=lfs diff=lfs merge=lfs -text
bip38.cpp filter=lfs diff=lfs merge=lfs -text
Makefile.am filter=lfs diff=lfs merge=lfs -text
masternode-payments.cpp filter=lfs diff=lfs merge=lfs -text
utilstrencodings.h filter=lfs diff=lfs merge=lfs -text
amount.h filter=lfs diff=lfs merge=lfs -text
core_io.h filter=lfs diff=lfs merge=lfs -text
denomination_functions.cpp filter=lfs diff=lfs merge=lfs -text
httprpc.cpp filter=lfs diff=lfs merge=lfs -text
netbase.cpp filter=lfs diff=lfs merge=lfs -text
amount.cpp filter=lfs diff=lfs merge=lfs -text
merkleblock.cpp filter=lfs diff=lfs merge=lfs -text
pairresult.h filter=lfs diff=lfs merge=lfs -text
pivx-tx-res.rc filter=lfs diff=lfs merge=lfs -text
timedata.cpp filter=lfs diff=lfs merge=lfs -text
util.h filter=lfs diff=lfs merge=lfs -text
